extends ../layout

block content
    div.container
        div.row
            div.col-sm-6.col-md-4.col-md-offset-4
                #user
                    h1.text-center.login-title #{userprofile.username}'s profile:
                    ul.user-details
                        li Username ---> #{userprofile.username}
                        li E-Mail ---> #{userprofile.email}
                        li Vorname ---> #{userprofile.firstName}
                        li Nachname ---> #{userprofile.lastName}
                        li Land ---> #{userprofile.country}
                        li Stadt ---> #{userprofile.city}
                        li Musikinstrument ---> #{userprofile.mInstrument}
                        li Bands
                            ul#bands
                                for band in userprofile.bands
                                    li 
                                        a(href='/bands/#{band.id}') #{band.bandName}
                        li Audio
                            ul#audio
                                for audio in userprofile.auTracks
                                    li
                                        audio(controls='true', src='http://localhost:3000/record/play/#{audio.file}')
                    if userprofile.username == user.username
                        a(href='/users/#{user.username}/edit') Edit
                        form(class='form-signin', method='POST', action='/users/#{user.username}/delete')
                            input(type='hidden' name='_method' value='DELETE')
                            button(class='btn btn-lg btn-primary btn-block', type='submit') Delete Account